build/
bench_bak/
bench/demo_codes/*.txt
bench/demo_codes/*.csv
python/*.pyc
python/*.pyd
python/*.xlsx
python/*.tex
python/*.log
python/*.md
python/*.txt
python/__*
python/stepspy-current/build/
python/stepspy-current/dist/
python/stepspy-current/stepspy.egg-info
code/*.layout
doc/latex/

code/steps/header/device/lcc_hvdc_2t.h
code/steps/header/device/nhvdc.h
code/steps/header/device/nhvdc_test.h
code/steps/source/device/lcc_hvdc_2t.cpp

